DATABASE_URL="postgresql://user:password@localhost:5432/opspro_erp_crm?schema=public"
JWT_SECRET="replace-with-a-64-character-secret"
JWT_EXPIRES_IN="15d"
PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS="http://localhost:5173,https://mini-erp-crm-operations-portal-frontend-exoutd8yi.vercel.app"
